* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile {
  min-height: 75px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid #3a3a3c;
}

.letter {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #818384;
  color: #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.keyboardRow {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

#root {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.YES {
  background-color: green;
  color: #000;
}

.NO {
  background-color: #3a3a3c;
  color: #000;
}

.KINDA {
  background-color: yellow;
  color: #000;
}

.alert {
  z-index: 1000;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
  padding: 16px;
  border-radius: 4px;
  font-weight: 700;
}
